<div class="jumbotron">
	<h1> The finest development team Dallas has to offer! </h1>
	<p> Our development team has excelled in three main areas:</p>

		<p>* Expertise: We hire only the best and brightest.</p>

		<p>* Fortitude: Our developers persevere even under the harshest of circumstances.</p>

		<p>* Agility: We complete dizzying numbers of projects in record time. </p>


